@media(max-width:768px) {
    .hamburger {
        display: flex;
    }

    nav ul.nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 7.5rem;
        width: 100%;
        background-color: #1b1b1b;
        right: 0;
        padding: 1rem;
        z-index: 999;
        animation-name: menuAnimation;
        animation-duration: 0.5s;
        transition: all 0.3s ease-in-out;
    }

    nav ul.nav-links li a {
        color: white;
    }

    .btn-primary,
    .btn-secondary {
        font-size: 1.6rem;
        padding: 1rem;
    }

    #hero .hero-description p {
        font-size: 1.6rem;
    }

    #hero .img-wrapper img {
        width: 100%;
        max-width: unset;
        object-fit: cover;
        min-width: 30rem;
    }


    #hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: start;
    }

    .skill-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

    .project-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .project-card {
        width: 100%;
        max-width: none;
    }


    .footer-wrapper {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-wrapper .links ul {
        display: flex;
        gap: 1rem;
    }

    section:not(#hero) {
        scroll-margin-top: 8rem;
    }

}

@media(max-width:832px) {
    #about {
        flex-direction: column !important;
    }
}